/*
font-family: 'Akshar', sans-serif;
font-family: 'Raleway', sans-serif;
*/

body{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #09090B;
    background-color: #F5F5F5;
}
header{
    padding:3%;
}
h1, h3{
    padding: .5em 1em;

}
h1{
    font-family: 'Akshar', sans-serif;
    font-weight: 500;
    background-color: #e42535;
    font-size: 2em;
  margin: 0 10% 0 0;
   
}

h3{
 font-style: italic;
 font-weight: 400;
 background-color: #fdd94e;
 font-size: 1.2em;


}

p{
    margin:1em 5em;
}


i{
 font-weight: 300;
 font-size: .8em;
 padding:.5em;
 background-color: #e42535;
}


.borderbox{
    padding: 2em ;
}

.allgraph{
    border-top:20px solid #e42535;
    border-bottom: 20px solid #fdd94e;
margin:2.5em 0;

}


.caption{
    font-family: 'Akshar', sans-serif;
    font-weight: 500;
    background-color: #fdd94e;
   padding: .5em;
}

#bq{
    font-family: 'Akshar', sans-serif;
font-size: 2em;
font-weight: 600;
}

a {
    color:#e42535;
    text-decoration: none;
}

a:hover {
    color: #fdd94e;
}

footer{
    padding: 2em 0;

}



@media(max-width:1200px){

    body{
        margin:3em;
    }
    header{
        padding:1em 0;
    }
    h1, h3{
        padding: .5em .5em;
    
    }

    h1{
       
      margin: 0 ;
       
    }
    
    h3{
     font-size: 1.4em;
    
    
    }

    p{
        margin:1em .1em;
        font-size: 1.3em;
    }
    
   
    .borderbox{
        padding: 2em 0;
    }

    .caption{
       font-size:1.4em
    }
    
    i{
        font-size: 1.2em;
    }


}