/* font-family: 'Barlow Condensed', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Archivo', sans-serif; */

body {
    background-color: #080707;
    font-family: 'Archivo', sans-serif;
    font-size: 18px;
    color: #f5f5f5;

}

header {
    height: 100vh;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    font-size: .8em;
    letter-spacing: 1.1px;
    text-transform: uppercase;


}

#overline {
    background-color: #DF4601;
    display: inline;
    padding: 1% 2%;
}

h1 {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 3em;
    text-transform: none;

}

video {
    width: 100%;
}

a {
    color: #f5f5f5;
    text-decoration: #DF4601;
    font-weight: 600;
    border-bottom: 1px solid #DF4601;


}

a:hover {
    background-color: #f5f5f5;
    color: #DF4601;
}

section {
    width: 65%;
    margin: 0 auto;
    padding: 5% 0;
}

.intro {
    text-transform: uppercase;
    letter-spacing: 1.2px;

}

.graphic {
    background-color: #ffffff;
    padding: 5%;
}

.name {
    text-transform: uppercase;
    color: #DF4601;
}

i {
    font-size: .8em;
    font-style: italic;
    font-family: 'Barlow Condensed', sans-serif;

}

h2 {
    background-color: #f5f5f5;
    color: #080707;
    margin: 5% 0;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 1.3px;
}

h3 {
    font-size: 1.1em;
}

blockquote {
    font-family: 'Manrope', sans-serif;
    text-align: center;
    background-color: #DF4601;
    padding: 2%;

}

.quote {
    font-size: 1.2em;
    font-weight: 500;
}

.cite {
    font-style: italic;
    font-size: .8em;
}

.chart {
    background-color: #ffffff;
    padding: 3%;
}

footer{
    text-align: center;
}

@media(max-width:850px) {
    body {
        font-size: 16px;

    }

    header {
        margin: 25% 0 0 0;

    }

    .chart {
        padding: 2%;
    }
}

@media(max-width:450px) {
    body {
        font-size: 14px;

    }

    header {
        margin: 50% 0 0 0;
    }

    section, footer {
        width: 95%;
    }

    i {
        font-size: .9em;
    }
}

@media(min-width:1000px) {
    header {
        margin: 15% 2% 0 0;

    }
}

@media(max-width:992px) {
    header {
        text-align: center;
        margin: 0 0 5% 0;
    }
    video{
        margin: 0 0 5% 0;
    }
}