/*font-family: 'Bodoni Moda', serif;
font-family: 'Space Grotesk', sans-serif;
*/

body{
    background: #040710;
    text-align: center;
    color:#EFCC6C;
    font-family: 'Bodoni Moda', serif;
}

h1{
    font-size: 70px;
    font-weight: 600;
    padding-top:20px;
}

h2{
    font-size: 50px;
 
}

h3{
    font-size: 20px;
    color: #EB4E1E;
    font-family:'Space Grotesk', sans-serif;
    font-weight: 600;
    padding:20px;
    line-height: 1.4em;
}

.nav-link{
    font-family: 'Space Grotesk', sans-serif;
color: #005FA3;
font-size: 2em;
font-weight:500 ;
font-style: italic;
}

.bio{
    font-size: 1.7em;
    padding:20px;
    font-weight: 500;
}

.block{
    align-items: center;
    padding: 70px;
  
}

.row img{
   text-align: center;
   background-color: #04622E;
   padding: 20px;
 justify-content: center;
}

.caption{
    color: #EB4E1E;
    font-family:'Space Grotesk', sans-serif;
    font-weight: 400;
    padding:1em;
}

#img2{
background-color: #005FA3;
}

#img3{
    background-color: #EB4E1E;
}

#img4{
    background-color: #EFCC6C;
}

em{

    margin: 1.5em;
    
}
footer{
    padding: 2em;
    border-width: 2em;
    border-color: #04622E;
}