/*font-family: 'Kanit', sans-serif;
font-family: 'Space Grotesk', sans-serif;
font-family: 'Oxygen', sans-serif;
*/

body {
    background: #040710;
    color: #EFCC6C;
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
    margin: 20px 0;
}

header {
    margin: 0 0 40px 0;
}

h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 2.5em;
    font-weight: 500;


}

h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 1.25em;
    display: inline;
    font-weight: 100;
    border-bottom: 2px solid #04622E;
}

.page {
    font-size: 2em;
    line-height: 4;
    font-weight: 600;

}

.clips a, h3, footer a {
    font-size: 1.1em;
    color: #EB4E1E;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    text-decoration: none;
    line-height: 1.4em;
}

footer a {
    display: block;
    line-height: 0;
}

.clips a {
    color: #fff;
    font-weight: 400;
    font-family: 'Oxygen', sans-serif;
}

.clips a:hover {
    color: blue;
}

a {
    color: #EB4E1E
}

a:hover {
    color: blue;
}

.title {
    font-size: 2.7em;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
    padding-top: 10px;

    color: #EB4E1E;


}

.nav-link {
    font-family: 'Space Grotesk', sans-serif;
    color: #EB4E1E;
    font-size: 1.25em;
    font-weight: 500;
    text-transform: uppercase;
}

.bio {
    font-size: 1.5em;

}

.home {
    display: flex;
    height: 75%;
    padding-top: 5em;
}

.item {
    padding-bottom: 30px;
}

.row img {
    text-align: center;
    border-bottom: 15px solid #04622E;

}

.caption {
    color: #fff;
    font-family: 'Kanit', sans-serif;
    padding: 10px 0 0 0;
    font-size: .8em;
    font-weight: 300;
    letter-spacing: 1.1px;
    text-align: right;
}

/*Resume only*/

.subt {
    font-size: 1.8em;
    font-weight: 500;
    font-style: italic;

}

.desc {
    font-size: 1.5em;

}

.tf {
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
}

/*resume end*/

@media (max-width:450px) {
    header {
        margin: 20px 0;
        text-align: center;
    }

    main {
        text-align: center;
        display: block;
        font-size: .9em;
    }

    .nav {
        display: block;
    }

    .caption {
        text-align: center;
    }

    .home {
        height: 100%;
    }


}

@media (max-width:767px) {
    #break {
        padding-bottom: 15px;
        border-bottom: 5px solid #04622E;
    }
}

#img1 {
    border-color: #EB4E1E;
}

#img3 {
    border-color: #EFCC6C;
}